name: hourly-check

on:
  schedule:
  - cron: "*/5 * * * *"
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run bot
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          URL: ${{ secrets.URL }}
          NEEDLE: ${{ secrets.NEEDLE }}
          TITLE: ${{ secrets.TITLE }}
          MESSAGE: ${{ secrets.MESSAGE }}
          NTFY_TOPIC: ${{ secrets.NTFY_TOPIC }}
        run: python bot.py
